p
{width: 400px;
	height: 200px;
	overflow: scroll;
	border: 2px solid gold;}


h1
{width: 500px;
	height: 300px;
overflow: scroll;}
}

button
{color:blue;}

button:hover 
{background:red;
transform:rotate(-360deg);
transition-duration:5s;}


th {
	background-color: red;
}

tr {
	background-color: blue;
}

.layer1 
{background-image: url();
position: relative;
background-color: green
height: 25px;}