.red{
color:red;
}
.blue{color:brown;}
h1 {
text-transform:uppercase;}
.abc {
float: left;
width:30% ;
padding-top:20px;
padding-left:30px;
padding-right:40px;
margin:20px 15px 10px 5px;
}
.php {
width:100% ;
hight: 50%;

}
.abc {
text-align:center;
}
.php
ю
